<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.price}}</td>
                <td><button title="Edit" class="btn btn-warning" (click)="viewEditForm(product)"><i class="bi bi-pencil-fill"></i></button></td>
                <td><button title="Remove" class="btn btn-danger" (click)="removeProduct(product)"><i class="bi bi-trash-fill"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
